.card {
  max-width: 300px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  height: 600px;
  padding: 0px;

  margin: auto;
  margin-top: 07%;
  text-align: center;
  position: relative;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  background-color: #681b9a;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);

  color: white;
}
.textfield {
  background: white;
}
