.card {
  max-width: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  height: 200px;
  padding: 35px;

  margin: auto;
  margin-top: 10%;
  text-align: center;
  position: relative;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  background-color: #681b9a;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);

  color: white;
}

body {
  background-color: white;
}
a {
  text-decoration: none;
  color: white;
}
