#alertContainer {
  border: 1px black;
  border-radius: 20px;
  background-color: rgb(207, 165, 247);
  margin: 0 7% 0 7%;
  padding: 10px;
}
.detailContainer #greeting {
  text-align: center;
}
.detailContainer #title {
  padding-left: 5%;
}
